# We need to compute e/pixel/sec given a combination of neutral density and wavelength filters
# We assume the neutral density and wavelength filter combination can be factored into an attenuation
# factor for each filter separately. We also need to know the e/pixel/sec if no filter was installed.
[FILTER]
source = 1002
empty = 1.0
ND_OD0.01 = 0.3262
ND_OD0.05 = 0.1658
ND_OD0.3 = 0.0835
ND_OD0.5 = 0.0299
ND_OD1.0 = 0.0024
480nm = 0.00533
650nm = 0.08229
#750nm = 0.0593
# following 750nm throughput was updated using average response for the 6 ND settings. for SDSSi, scatter 
# was <1.2%. For 750nm, it is 8.4%. wavelength dependence??
750nm = 0.06801
870nm = 0.01467
950nm = 0.00220
970nm = 0.00571
# SDSSi = 1.3377
SDSSi = 1.51987 # this SDSSi transmission number fixes flux rates for R22S11 with the ND numbers above (for Run 3)
SDSSu = 0.00040
SDSSY = 0.07960
SDSSg = 0.23960
SDSSr = 1.83571
SDSSz = 0.27348
